#root {
  max-width: 720px;
  width: 720px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-delete {
  background-color: #7E5869;
  transition: border-color 0.25s, color 0.25s;
}
.button-delete:hover {
  background-color: #7E5869;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  height: calc(56px - 0.5rem);
  width: 100%;
}

.todo-input {
  flex-grow: 2;
}

.separator {
  margin: 1rem 0;
}
